---
layout: null
title: Julian I. Kamil - Home
description: Julian I. Kamil - Home
sitemap:
    priority: 1.0
    lastmod: 2018-04-08
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>

    <head>
        {% include head.html %}
    </head>

    <body class="is-loading">
        <div id="wrapper" class="fade-in">
            <header id="header">
                <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
            </header>
            
            <nav id="nav">
                {% include nav.html %}

                <ul class="icons">
                    <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow">
                            <span class="label">Twitter</span>
                    </a></li>
                    <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow">
                            <span class="label">Instagram</span>
                    </a></li>
                    <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow">
                            <span class="label">GitHub</span>
                    </a></li>
                </ul>
            </nav>

            <div id="main">
                <article class="post featured">
                    <header class="major">
                        <h2><a href="#">Under Construction</a></h2>
                        <p>Under construction</p>
                    </header>
                </article>

                <section class="posts">
                    {% for post in site.posts limit:3 %}
                    {% assign mod3 = forloop.index | modulo: 3 %}
                    <article>
                        <header>
                            <span class="date">{{ post.date | date_to_string }}</span>
                            <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
                        </header>
                        <a href="{{ post.url | absolute_url }}" class="image fit">
                            <img src="{{ post.image | absolute_url }}" alt="" />
                        </a>
                        <p>{{ post.excerpt }}</p>
                        <ul class="actions">
                            <li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
                        </ul>
                    </article>
                    {% if mod3 == 0 %}
                    <article>
                        <header>
                            <h2><a href="#">Sponsored</a></h2>
                        </header>
                    </article>
                    {% endif %}
                    {% endfor %}
                </section>

                <footer>
                    <ul class="actions">
                        <li><a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a></li>
                    </ul>
                </footer>
            </div>
            
            {% include foot.html %}
        </div>

        {% include scripts-main.html %}
        {% include tracking.html %}
    </body>
</html>
