<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<link rel="stylesheet" href="{{ "/assets/css/twistech.css" | absolute_url }}" />

<!-- Chatbot -->
        <link    rel="stylesheet"      href="/lib/jquery-ui-chatbox/css/jquery-ui.css" type="text/css" media="screen" />
        <script type="text/javascript"  src="/lib/jquery-ui-chatbox/js/jquery.js"></script>
        <script type="text/javascript"  src="/lib/jquery-ui-chatbox/js/jquery-ui.js"></script>
        <link   type="text/css"        href="/lib/jquery-ui-chatbox/css/jquery-ui-chatbox.css" rel="stylesheet" />
        <script type="text/javascript"  src="/lib/jquery-ui-chatbox/js/jquery-ui-chatbox.js"></script>
        <script type="text/javascript">
$(document).ready(function(){
    var box = null;
    $("input[type='button']").click(function(event, ui) {
        if (box) {
            box.chatbox("option", "boxManager").toggleBox();
        }
        else {
            box = $("#chat_div").chatbox(
		{
		    id          : "chat_div", 
		    user        : { key : "value" },
                    title       : "chat",
                    offset      : 0,
                    width       : 400,
		    messageSent : function(id, user, msg) {
			$("#log").append(id + " said: " + msg + "<br/>");
			$("#chat_div").chatbox("option", "boxManager").addMsg(id, msg);
		    }
		}
	    );
        }
    });
});
        </script>

<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
