<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<link rel="stylesheet" href="{{ "/assets/css/twistech.css" | absolute_url }}" />

<!-- Chatbot -->
        <link    rel="stylesheet"      href="/lib/jquery-ui-chatbox/css/jquery-ui.css" type="text/css" media="screen" />
        <script type="text/javascript"  src="/lib/jquery-ui-chatbox/js/jquery.js"></script>
        <script type="text/javascript"  src="/lib/jquery-ui-chatbox/js/jquery-ui.js"></script>
        <link   type="text/css"        href="/lib/jquery-ui-chatbox/css/jquery-ui-chatbox.css" rel="stylesheet" />
        <script type="text/javascript"  src="/lib/jquery-ui-chatbox/js/jquery-ui-chatbox.js"></script>
        <script type="text/javascript">
var text      = "";
var json_data = {};

var spelling_words = [
    "bicycle",    "where",   "blink",      "float",   
    "glint",      "played",  "sent",       "those",   
    "camera",     "any",     "can't",      "saw",     
    "these",      "every",   "didn't",     "came",    
    "want",       "many",    "don't",      "how",     
    "maybe",      "only",    "day",        "sink",    
    "when",       "pretty",  "stay",       "light",   
    "off",        "really",  "train",      "thing",   
    "hole",       "coat",    "hay",        "right",   
    "mule",       "tow",     "mail",       "flight",  
    "choke",      "slow",    "where",      "sight"    
];

var api_url     = "http://u160400:1080/watson-api-explorer.mybluemix.net:443/assistant/api/v1/workspaces/99d97456-119b-4dc6-a9fb-f68adfe1924f/message?version=2018-02-16";
var credentials = "b391fc0a-debe-4086-9e78-caf790583342:CUdcm55853Av";

$(document).ready(function(){
    var box = null;
    $("input[type='button']").click(function(event, ui) {
        if (box) {
            box.chatbox("option", "boxManager").toggleBox();
        }
        else {
            box = $("#chat_div").chatbox({
                id          : "chat_div",
                user        : { key : "you" },
                title       : "chat",
                offset      : 0,
                width       : 400,
                messageSent : function(id, user, msg) {
                    $("#chat_div").chatbox("option", "boxManager").addMsg("you", msg);
                    json_data = { input : { text : msg } };

                    $.ajax({
                        type        : "POST",
                        url         : api_url,
                        dataType    : "json",
                        data        : JSON.stringify(json_data),
                        contentType : "application/json; charset=utf-8",
                        beforeSend: function(xhr) { xhr.setRequestHeader("Authorization", "Basic " + btoa(credentials)); },
                        success:    function(data, status, results) {
                            console.log(results);
                            var random_word = spelling_words[Math.floor(Math.random() * spelling_words.length)];
                            var spelling    = random_word.split('').join(' ');
                            json_data = results.responseJSON;
                            text      = json_data.output.text[0].replace("{WORD}", random_word).replace("{SPELLING}", spelling);
                            box.chatbox("option", "boxManager").addMsg("assistant", text);
                        },
                        error:      function(results, status) {
                            console.log("error " + status.code);
                            console.log(results);
                        }
                    });
                }
            });

            $.ajax({
                type        : "POST",
                url         : api_url,
                dataType    : "json",
                data        : JSON.stringify(json_data),
                contentType : "application/json; charset=utf-8",
                beforeSend: function(xhr) { xhr.setRequestHeader("Authorization", "Basic " + btoa(credentials)); },
                success:    function(data, status, results) {
                    console.log(results);
                    json_data = results.responseJSON;
                    text      = json_data.output.text[0];
                    box.chatbox("option", "boxManager").addMsg("assistant", text);
                },
                error:      function(results, status) {
                    console.log("error " + status.code);
                    console.log(results);
                }
            });
        }
    });
});
        </script>

<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
